@import './../../scss/colors';

$base_font_size: 20px;

header {
  background-color: $blue_dark;
  color: #fff;
  display: flex;
  height: 52px;
  filter: drop-shadow(1px 2px 4px rgba($blue_dark, .8));
  padding: 8px 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  button {
    border: none;
    color: #fff;
    background: none;
    font-size: $base_font_size;
  }

  h1 {
    font-size: $base_font_size;
  }
}