@import './../../scss/colors';
@import './../../scss/fonts';

.pokemon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  overflow: hidden;
  margin: 8px auto;
  max-width: 95%;

  .pokemon-info {
    flex-basis: 90%;
    flex-wrap: nowrap;
    padding: 4px 16px;
    position: relative;
  }

  .pokemon-pic {
    position: relative;

    &::before {
      background-color: $blue_light;
      border-radius: 100%;
      content: '';
      height: 100%;
      position: absolute;
      right: -13%;
      transform: scale(1.3);
      width: 100%;
      z-index: 0;
    }

    img {
      position: relative;
      z-index: 1;
    }
  }

  .pokemon-types {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &.pokemon-grass {
    background-color: $grass;
    color: $grass_accent;

    .check {
      color: $grass_accent;
    }

    .pokemon-pic::before { 
      background-color: $grass_accent;
     }
  }
}

