.card {
  background-color: #fff;
  box-shadow: 0 1px 1px Hsl(0deg 0% 0% / 0.075),
      0 2px 2px Hsl(0deg 0% 0% / 0.075),
      0 4px 4px Hsl(0deg 0% 0% / 0.075),
      0 8px 8px Hsl(0deg 0% 0% / 0.075),
      0 16px 16px Hsl(0deg 0% 0% / 0.075);
  padding: 4px 16px;
  margin: 20px auto;
}