@import './scss/fonts.scss';

body {
  margin: 0;
  font-family: $prompt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2,h3,h4,h5,h6 { font-family: $montserrat; }

.container {
  margin-top: 80px;
}